
.icon-linkedin:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-github:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\f052'; } /* '' */
.icon-gplus:before { content: '\f05a'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
